a {
    text-decoration: none;
}

.color-blue {
    color: #1f1297d3;
}
.nav-bar {
    color: #1f1297d3;

}

.navItem {
    color: white;
    padding-left: 20px;
}
.navItem:hover {
    color: #ce582d;
}